<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<import resource="TicketService-servlet.xml" />
	<import resource="database.xml" />

	<!-- Enable autowire -->
	<context:annotation-config />
	<context:component-scan
		base-package="by.sam.horbach.ticketService.controllers" />

	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**"
		location="/resources/" />

	<bean id="user" class="by.sam.horbach.ticketService.entities.User" />

	<bean id="userDTO" class="by.sam.horbach.ticketService.dto.UserDTO" />
	
	<bean id="userService" class="by.sam.horbach.ticketService.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="userDetailsService" class="by.sam.horbach.ticketService.services.impl.UserDetailsServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="pathConverter" class="by.sam.horbach.ticketService.converters.PathConverter" />

	<bean id="userRolesConverter" class="by.sam.horbach.ticketService.converters.UserRolesConverter" />
	
	<bean id="userConverter" class="by.sam.horbach.ticketService.converters.UserConverter"/>
	
	<bean id="registrationFacade" class="by.sam.horbach.ticketService.facades.RegistrationFacade">
		<property name="userConverter" ref="userConverter"/>	
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="registrationFormValidator" class="by.sam.horbach.ticketService.validators.RegistrationValidator">
	    <property name="userDao" ref="userDao"/>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="properties/messages" />
    </bean>
	
</beans>
