<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<import resource="TicketService-servlet.xml" />
	<import resource="database.xml" />
	<import resource="spring-security-config.xml" />

	<context:annotation-config />
	<context:component-scan
		base-package="by.sam.horbach.ticketService.controllers" />

	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**"
		location="/resources/" />

	<bean id="user" class="by.sam.horbach.ticketService.entities.User" />

	<bean id="comment"
		class="by.sam.horbach.ticketService.entities.Comment" />

	<bean id="event"
		class="by.sam.horbach.ticketService.entities.Event" />

	<bean id="location"
		class="by.sam.horbach.ticketService.entities.Location" />

	<bean id="ticket"
		class="by.sam.horbach.ticketService.entities.Ticket" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="200000" />
	</bean>

	<bean id="userDTO"
		class="by.sam.horbach.ticketService.dto.UserDTO" />

	<bean id="commentDTO"
		class="by.sam.horbach.ticketService.dto.CommentDTO" />

	<bean id="eventDTO"
		class="by.sam.horbach.ticketService.dto.EventDTO" />

	<bean id="locationDTO"
		class="by.sam.horbach.ticketService.dto.LocationDTO" />

	<bean id="ticketDTO"
		class="by.sam.horbach.ticketService.dto.TicketDTO" />

	<bean id="registrationFormDTO"
		class="by.sam.horbach.ticketService.dto.forms.RegistrationDTO" />

	<bean id="PasswordDTO"
		class="by.sam.horbach.ticketService.dto.forms.PasswordDTO" />

	<bean id="userService"
		class="by.sam.horbach.ticketService.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="passwordEncoder" ref="bcrypt" />
	</bean>

	<bean id="locationService"
		class="by.sam.horbach.ticketService.services.impl.LocationServiceImpl">
		<property name="locationDao" ref="locationDao" />
	</bean>

	<bean id="eventService"
		class="by.sam.horbach.ticketService.services.impl.EventServiceImpl">
		<property name="eventDao" ref="eventDao" />
	</bean>

	<bean id="userDetailsService"
		class="by.sam.horbach.ticketService.services.impl.UserDetailsServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="pathConverter"
		class="by.sam.horbach.ticketService.converters.PathConverter" />

	<bean id="userRolesConverter"
		class="by.sam.horbach.ticketService.converters.UserRolesConverter" />

	<bean id="userConverter"
		class="by.sam.horbach.ticketService.converters.UserConverter" />

	<bean id="userRegistrationConverter"
		class="by.sam.horbach.ticketService.converters.UserRegistrationConverter" />

	<bean id="eventConverter"
		class="by.sam.horbach.ticketService.converters.EventConverter">
		<property name="locationService" ref="locationService" />
		<property name="locationConverter" ref="locationConverter" />
	</bean>

	<bean id="locationConverter"
		class="by.sam.horbach.ticketService.converters.LocationConverter" />

	<bean id="eventListConverter"
		class="by.sam.horbach.ticketService.converters.EventListConverter">
		<property name="eventConverter" ref="eventConverter" />
	</bean>

	<bean id="passwordDTOConverter"
		class="by.sam.horbach.ticketService.converters.PasswordDTOConverter">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="personalDataDTOConverter"
		class="by.sam.horbach.ticketService.converters.PersonalDataDTOConverter">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="registrationFacade"
		class="by.sam.horbach.ticketService.facades.impl.RegistrationFacadeImpl">
		<property name="userConverter"
			ref="userRegistrationConverter" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="userProfileFacade"
		class="by.sam.horbach.ticketService.facades.impl.UserProfileFacadeImpl">
		<property name="userConverter" ref="userConverter" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="welcomeFacade"
		class="by.sam.horbach.ticketService.facades.impl.WelcomeFacadeImpl">
		<property name="eventListConverter" ref="eventListConverter" />
		<property name="eventService" ref="eventService" />
	</bean>

	<bean id="changePasswordFacade"
		class="by.sam.horbach.ticketService.facades.impl.ChangePasswordFacadeImpl">
		<property name="converter" ref="passwordDTOConverter" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="changePersonalDataFacade"
		class="by.sam.horbach.ticketService.facades.impl.ChangePersonalDataFacadeImpl">
		<property name="converter" ref="personalDataDTOConverter" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="registrationFormValidator"
		class="by.sam.horbach.ticketService.validators.RegistrationValidator">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="updateValidator"
		class="by.sam.horbach.ticketService.validators.UpdatePasswordValidator">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>properties/messages/messages</value>
				<value>properties/locales/locale</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>

	<mvc:interceptors>
		<bean
			class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="lang" />
		</bean>
	</mvc:interceptors>

	<bean id="bcrypt"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="12" />
	</bean>

</beans>
