<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<import resource="TicketService-servlet.xml" />
	<import resource="database.xml" />

	<!-- Enable autowire -->
	<context:annotation-config />
	<context:component-scan
		base-package="by.sam.horbach.ticketService.controllers" />

	<mvc:annotation-driven />
	<mvc:resources mapping="/resources/**"
		location="/resources/" />

	<tx:advice id="txAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="userServicePointCut"
			expression="execution(* by.sam.horbach.ticketService.services.impl*ServiceImpl.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="userServicePointCut" />
	</aop:config>

	<bean id="User" class="by.sam.horbach.ticketService.entities.User" />

	<bean id="UserService"
		class="by.sam.horbach.ticketService.services.impl.UserServiceImpl">
		<property name="UserDao" ref="UserDao" />
	</bean>

</beans>
