<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
	   <intercept-url pattern="/authorization*" access="permitAll" /> 
	   <intercept-url pattern="/registration*" access="permitAll" />
	   <intercept-url pattern="/" access="permitAll" />
	   <intercept-url pattern="/welcome" access="permitAll" />
	   <intercept-url pattern="/user_profile*" access="isAuthenticated()" />
	   <intercept-url pattern="/change_password_page*" access="isAuthenticated()" />
	   <intercept-url pattern="/change_personal_data_page*" access="isAuthenticated()" />
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login login-page="/authorization"
			default-target-url="/welcome"
			authentication-failure-url="/authorization-failed"
			username-parameter="email" password-parameter="password" />
		<logout logout-success-url="/authorization" />
	</http>

	<authentication-manager>
		<authentication-provider
			user-service-ref="userDetailsService">
			<password-encoder ref="bcrypt" /> 
		</authentication-provider>
	</authentication-manager>

</beans:beans>